@import "src/assets/styles.scss";

.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 70px);
  @include title();
  @include subtitle();
  @include button();
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .add-container {
    padding: 50px;
    border-radius: 10px;
    border: 2px solid;
    width: 70%;
    form {
      display: flex;
      flex-direction: column;

      .form-container {
        label {
          font-size: 1.2rem;
        }
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        input {
          height: 50px;
          border-radius: 10px;
        }
      }
      .buttons {
        button {
          width: 100px;
          margin-right: 10px;
          margin-top: 10px;
        }
        #guardar {
          background-color: rgb(185, 185, 236);
        }
      }
    }
  }
}
